@charset "UTF-8";
//应用控件
.application {
  position: relative;
  height: 40px;
  a {
    position: absolute;
    top: 0;
    &:nth-child(1) {
      left: 0;
    }
    &:nth-child(2) {
      left: 25%;
      margin-left: -10px;
    }
    &:nth-child(3) {
      left: 50%;
      margin-left: -20px;
    }
    &:nth-child(4) {
      left: 75%;
      margin-left: -30px;
    }
    &:nth-child(5) {
      right: 0;
    }
  }
  img {
    width: 40px;
    height: 40px;
  }
}